.mat-black {
  background-color: black;
  color: #fff;
}

.property-entry{
  margin-top: 20px;
  margin-bottom: 20px;
}

.entry-field{
  margin-left: 10px;
  margin-right: 10px;
}

.example-button-row {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.buttons{
  margin-left: 10px;
  margin-right: 10px;
}

.formcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background: black;
}

.selection-list {
  max-height: var(--height);
  overflow: auto;
}

.success-message{
  text-align: center;
  margin-bottom: 10px;
}

.spinner{
  display: flex;
  justify-content: center;
}

.selection-list button.mat-list-item {
  height: 40px;
  width: max-content;
  line-height: 40px;
}

.configuration-container{
  display: flex;
  flex-direction: row;
}

.configuration-buttons-container{
  display: flex;
  flex-direction: column;
}

.config-buttons{
  margin-top: 10px;
  margin-left: 10px;
}

.entry-field{
  width: 25%;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
  align-items: center;
}

#config-area{
  max-height: 400px;
   min-height: 100px;
}

#config-area-formfield{
  width: 50%;
  height: 50%;
}

#database-entries-container{
  display: flex;
}

#offset-container{
  position: relative;
  width: 100%;
  height: 50px;
}

#or-label{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#relation-name-form{
  margin-bottom: 20px;
}

#generator-card {
  position: absolute;
  width: max-content;
  top: 50px;
  bottom: 50px;
  --height: 450px;
}

#logo-picture{
  position:absolute;
  top: 20px;
  right: 40px;
  width: 10%;
  height: 10%;
  object-fit:cover;
}

#rest-api-name-formfield{
  width: 25%;
}
